# Tarea 5
## Motor Trend Car Road Trends

### Ana Sofía Hinojosa Bale

1.1 Realiza una regresión tomando 'mpg' como salida y eliminando la columna 'model'. Considera todos los demás factores como numéricos/ordinales.

- Calcula el R2 e interpreta los signos de los betas.
- Realiza un train-test-split donde se use el 40% de los datos para entrenar. Calcula el R2 de entrenamiento y de prueba.
- Añade regularización L2 con un hiperparámetro lambda decidido por ti. Cambia este valor y compara con varios distintos los R2 de entrenamiento y de prueba.

1.2 Repite el ejercicio anterior usando 'qsec' como salida.

2.1 Realiza una regresión tomando 'mpg' como salida y eliminando la columna 'model'. Crea columnas dummies para los factores 'cyl', 'gear' y 'carb'.

- Calcula el R2 e interpreta los signos de los betas.
- Realiza un train-test-split donde se use el 40% de los datos para entrenar. Calcula el R2 de entrenamiento y de prueba.

2.2 Repite el ejercicio anterior usando 'qsec' como salida.

3.1 Compara los R2 de los ejercicios 1.1 & 2.1.

3.2 Compara los R2 de los ejercicios 1.2 & 2.2.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

### Ejercicio 1.1

#### a) Calcula el R2 e interpreta los signos de los betas.

In [2]:
data = pd.read_excel("Motor Trend Car Road Tests.xlsx")

In [3]:
data = data.drop(columns = ["model"])
x = data.drop(columns = ["mpg"])
y = data["mpg"]

In [4]:
def original(x, y):

    
    scaler = StandardScaler()
    x_scaled = scaler.fit_transform(x)

    lr = LinearRegression()
    lr.fit(x_scaled, y)
    y_pred = lr.predict(x_scaled)
    r2 = r2_score(y, y_pred)
    
    coef_df = pd.DataFrame([lr.coef_], columns=x.columns)
    coef_df['R2'] = r2
    return coef_df

In [5]:
original(x, y)

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,R2
0,-0.19589,1.626723,-1.449679,0.414224,-3.578015,1.444047,0.157635,1.237765,0.475951,-0.317029,0.869016

#### b) Realiza un train-test-split donde se use el 40% de los datos para entrenar. Calcula el R2 de entrenamiento y de prueba.

In [6]:
def split(x, y, train_size):


    x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = train_size)

    scaler = StandardScaler()
    x_train = scaler.fit_transform(x_train)
    x_test = scaler.transform(x_test)

    lrb = LinearRegression()
    lrb.fit(x_train, y_train)
    y_pred = lrb.predict(x_test)
    y_pred_train = lrb.predict(x_train)
    r2_train = r2_score(y_train, y_pred_train)
    r2b = r2_score(y_test, y_pred)
    
    tablab = pd.DataFrame([lrb.coef_], columns = x.columns)
    tablab['R2 Train'] = r2_train
    tablab['R2 Test'] = r2b
    return tablab

In [7]:
split(x, y, 0.4)

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,R2 Train,R2 Test
0,7.967809,-14.316389,10.840941,4.386306,3.79639,10.218748,4.106806,9.305335,-5.883471,3.273349,0.998562,-4.551092

#### c) Añade regularización L2 con un hiperparámetro lambda decidido por ti. Cambia este valor y compara con varios distintos los R2 de entrenamiento y de prueba.

In [8]:
def ridge(x, y, alpha):


    l2 = Ridge(alpha = alpha)
    x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.4)

    l2.fit(x_train, y_train)
    y_pred = l2.predict(x_test)
    y_pred_train = l2.predict(x_train)
    r2_train = r2_score(y_train, y_pred_train)
    r2b = r2_score(y_test, y_pred)

    tablac = pd.DataFrame([l2.coef_], columns = x.columns)
    tablac['R2 Train'] = r2_train
    tablac['R2 Test'] = r2b
    return tablac

In [9]:
ridge(x, y, 1.5)

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,R2 Train,R2 Test
0,-0.536861,-0.006007,-0.009531,1.856149,-1.32723,0.659565,-0.901388,1.236984,0.236529,-0.955375,0.880298,0.742595

### Ejercicio 1.2

In [10]:
x2 = data.drop(columns = ["qsec"])
y2 = data["qsec"]

In [11]:
original(x2, y2)

,mpg,cyl,disp,hp,drat,wt,vs,am,gear,carb,R2
0,0.409593,-0.637514,-0.915003,-0.105446,-0.068973,1.441039,0.481213,-0.442602,-0.14617,-0.434955,0.874693

In [12]:
split(x2, y2, 0.4)

,mpg,cyl,disp,hp,drat,wt,vs,am,gear,carb,R2 Train,R2 Test
0,4.581351,-8.463906,-0.035372,2.336552,-2.478168,1.81109,-1.366779,-0.991095,-3.762689,3.449841,0.999662,-5.709529

In [13]:
ridge(x2, y2, 1.5)

,mpg,cyl,disp,hp,drat,wt,vs,am,gear,carb,R2 Train,R2 Test
0,-0.191165,-0.308822,0.003823,-0.032002,-0.090012,0.360104,0.123516,-0.081477,-0.020268,-0.231908,0.966583,0.337121

### Ejercicio 2.1

In [15]:
x_dummies = pd.get_dummies(x, columns = ["cyl", "gear", "carb"])
x_dummies.head()

,disp,hp,drat,wt,qsec,vs,am,cyl_4,cyl_6,cyl_8,gear_3,gear_4,gear_5,carb_1,carb_2,carb_3,carb_4,carb_6,carb_8
0,160.0,110,3.90,2.620,16.46,0,1,False,True,False,False,True,False,False,False,False,True,False,False
1,160.0,110,3.90,2.875,17.02,0,1,False,True,False,False,True,False,False,False,False,True,False,False
2,108.0,93,3.85,2.320,18.61,1,1,True,False,False,False,True,False,True,False,False,False,False,False
3,258.0,110,3.08,3.215,19.44,1,0,False,True,False,True,False,False,True,False,False,False,False,False
4,360.0,175,3.15,3.440,17.02,0,0,False,False,True,True,False,False,False,True,False,False,False,False

In [16]:
original(x_dummies, y)

,disp,hp,drat,wt,qsec,vs,am,cyl_4,cyl_6,cyl_8,gear_3,gear_4,gear_5,carb_1,carb_2,carb_3,carb_4,carb_6,carb_8,R2
0,4.336182,-4.758018,0.622474,-4.36239,0.646966,0.957853,0.595309,0.395728,-0.75053,0.246561,-0.482213,0.071669,0.567179,-0.351276,-0.847802,0.626658,0.112029,0.631218,1.113672,0.893075

In [17]:
split(x_dummies, y, 0.4)

,disp,hp,drat,wt,qsec,vs,am,cyl_4,cyl_6,cyl_8,...,gear_4,gear_5,carb_1,carb_2,carb_3,carb_4,carb_6,carb_8,R2 Train,R2 Test
0,-3.135114,-0.43492,7.300535,-8.839433,7.021835,-1.614572,1.729038,-4.65454,2.635283,2.447173,...,-3.230587,-1.291136,-1.842167,0.799082,1.185374,-0.956979,-1.293894,2.922111,1.0,-2.747306

In [18]:
ridge(x_dummies, y, 1.5)

,disp,hp,drat,wt,qsec,vs,am,cyl_4,cyl_6,cyl_8,...,gear_4,gear_5,carb_1,carb_2,carb_3,carb_4,carb_6,carb_8,R2 Train,R2 Test
0,-0.001898,-0.015188,0.56041,-1.256488,0.078909,0.463409,-0.340952,0.513299,-0.049889,-0.463409,...,0.513299,0.280421,-0.049889,0.958275,-0.203498,-0.985309,0.0,0.280421,0.836375,0.544205